
$grid-breakpoints: (
  xs: 0,
  sm: 425px,
  md: 768px,
  lg: 1024px,
  xl: 1280px,
  xxl: 1440px,
  xxxl: 1640px
);

$container-max-widths: (
  sm: 375px,
  md: 720px,
  lg: 980px,
  xl: 1100px,
  xxl: 1300px,
  xxxl: 1400px
);

$grid-gutter-width: 30px;