.award
  &
    position: relative
    display: inline-block
    background-repeat: no-repeat
    background-position: center center
    background-size: contain
    background-image: url('/assets/sprite/award.png')
    max-width: 100%
    width: calc(1600px*.5)
    height: auto
    aspect-ratio: 1600/1861

.banner--donate-m
  &
    position: relative
    display: inline-block
    background-repeat: no-repeat
    background-position: center center
    background-size: contain
    background-image: url('/assets/sprite/banner--donate-m.jpg')
    max-width: 100%
    width: calc(414px*.5)
    height: auto
    aspect-ratio: 414/736

.crown
  &
    position: relative
    display: inline-block
    background-repeat: no-repeat
    background-position: center center
    background-size: contain
    background-image: url('/assets/sprite/crown.png')
    max-width: 100%
    width: calc(198px*.5)
    height: auto
    aspect-ratio: 198/177

