extends _layout.pug

block vars
  - $id = 'index'

block main
  section.section--breadcrumb
    .container
      .breadcrumb 
        ul 
          li
            a(
              href='/'
            ) 首頁
          li
            a(
              href="./audios"
            ) 影音
          li
            a(
              href=""
            ) 影音標題
  
  section.section--article--header 
    .container
      .page--title
        article 
          h2 【亞培X50+】保護力EP1-了解自己的身體狀態與基本知識
      .page--cover 
        <iframe width="600" height="350" src="https://www.youtube.com/embed/i856VdaFb5k?si=PNJT1R6EGfTd5ZGY" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
      .page--caption 
        .information 
          .date 2024.05.01
          .view
            i.bi.bi-eye
            | 888
        .author 作者｜陳偉
          br
          | 責任編輯｜吳丹華
        .buttons 
          .button--facebook--dark
          .button--line--dark
          .button--link--dark
          .button--textsize--dark

  section.section--article--body 
    .container
      .row
        .col-12.col-md-9
          article 
            blockquote.quote 
              p 編按：如何和年輕人共事？熟齡族群在職場待久了，不免感受到世代差異。和MZ世代一起工作，該怎麼給予指示，才能讓對方把事情做好？本文為韓國9位不同業界專家提出的建議，讓職場資深工作者們找到與MZ世代共事的舒服方式。
            p 對張經理而言，年輕的MZ世代（50+註：由1981～1996年間出生的M世代（Millennials）和1997～2010年之間出生的「Z世代」合成的族群）似乎是一道高牆。因為以經理的立場來說，應該要鼓勵同事間相互合作，但他們就好像從外太空來的人種一樣非常難理解。就算支援部分業務或是部分授權，還是無法從他們那裡得到好的回饋。
            h3 以為ＭＺ世代都很主動 卻發現給彈性或規定太具體都引反感都引反感
            p A公司今年已經邁入第37個年頭。在像現在這樣變化無常的時代中，他們擁有悠久的歷史，組織的規模大、部門多，員工人數也很多。不過，組織文化就像官僚體系一樣，某些部門文化甚至像軍隊一樣，必須絕對服從長官的命令。（閱讀相關文章：文章文章文章文章）
            p 所以不久前甚至還花一大筆錢參加名為「激勵MZ世代的領導力」的演講，但反而發現更多難以理解的方面，無法抓到頭緒。教育內容核心提到：「MZ世代的員工會更投入在自己主動找來做的事情上，而不是被交代的事情。他們想被認同的欲望很強，想要得到充分的權力立下大功。」
            blockquote 對張經理而言，年輕的MZ世代因為以經理的立場來說，應該要鼓勵同事間相互合作，但他們就好像從外太空來的人種一樣非常難理解。就算支援部分業務或是部分授權，還是無法從他們那裡得到好的回饋。
    .container
      .row.row--course
        each item, index in [0, 1, 2, 3, 4, 5]
          .col-lg-4 
            .card--course
              .pic
                img(
                  data-src=`${getLoremCourse()}`
                ).lazyload
              .caption
                .info
                  .date 2024.11.06 — 2024.12.11
                h3 50+聲音表達工作坊進階班第5期
                .buttons
                  .button--pill--xl
                    .label 我要報名
