extends _layout.pug

block vars
  - $id = 'index'

block main
  section.section--breadcrumb
    .container
      .breadcrumb 
        ul 
          li
            a(
              href='/'
            ) 首頁
          li
            a(
              href=""
            ) 活動
          li
            a(
              href=""
            ) 活動頁
    .border--bottom
  section.section--confirm
    .container--slim
      article
        h3 已收到您的資料：
        p 感謝您報名參加我們的課程！我們已成功收到您的報名信息。以下是一些重要信息供您參考我們期待與您在課程中見面，共同度過充實而有趣的學習時光。如有任何問題，請隨時聯繫我們的客服團隊我們期待與您在課程中見面，共同度過充實而有趣的學習時光。如有任何問題，請隨時聯繫我們的客服團隊



      .buttons.mt-5
        a.button--more(href="./campaign.html")
          .label 回到活動頁