extends _layout.pug

block vars
  - $id = 'index'

block main
  section.section--breadcrumb(
    style="padding-bottom: 0"
  )
    .container
      .breadcrumb 
        ul 
          li
            a(
              href='/'
            ) 首頁
          li
            a(
              href="/"
            ) 合作洽談

  section.section--rules 
    .container
      .section__title 
        .title 合作洽談
      article
        p 請填寫以下表單，我們將盡快與您聯繫！
          br
          | 如有任何問題，請聯絡我們的客服專線：
          a(
            href='tel:0800-000-000'
          ) 0800-000-000
    
    .container.mt-5#form-container
      .section__title.is-form
        form.form--review
          .row
            .col-12.col-md-6
              .form--input
                label(for='name') 姓名
                  span.label--hint (請務必填寫真實姓名，以利刷卡資料核對。)
                input#name.form--input(type='text', placeholder='請輸入姓名')
            
            .col-12.col-md-6
              .form--input.is-required
                label 手機
                input
            .col-12
              .form--input.is-required
                label Email
                input
            
            .col-12
              .form--address
                .label 地址
                .address--code.full
                  .select
                    select
                      option 104
                  .select
                    select
                      option 台北市
                  .select
                    select
                      option 大安區
                .address--text
                  input
            .col-12
              .form--textarea
                label 留言
                  //- span.label--hint (備註備註備註備註備註備註)
                textarea.form--input(type='text')
      .buttons
        .button--pill--xl
          .label 送出表單
      