extends _layout.pug

block vars
	- $id = 'index'

block main
	section.section--weekly
		.container--slim.card--login.mt-5.mt-xl-0
			.section__title.w-100.is-form
				.login--title 忘記密碼
			.row.row--login.justify-content-center.align-item-start
				.content
					p.normal-p 請輸入您的手機貨Email，查詢帳號並重新設定密碼。
				.col-12.mb-3.d-flex.justify-content-center
					.form--input
						input#name.form--input(type='text', placeholder="手機或Email")
				.col-12.justify-content-center.d-flex.mt-5
					.button--pill--full
						.label.label--hide--border 送出