extends _layout.pug

block vars
	- $id = 'index'

block main
	section.section--article--body
		.container--slim.card--login.mt-5.mt-xl-0
			.section__title.w-100.is-form
				.login--title 忘記密碼
			.row.row--login.justify-content-center.align-item-start.w-100
				.col-12.content
					p.normal-p 請輸入您的手機貨Email，查詢帳號並重新設定密碼。
				.col-12.mb-3.d-flex.justify-content-center
					.form--input
						input#name.form--input(type='text', placeholder="手機或Email")
				.col-12.justify-content-center.d-flex.my-5
					.button--pill--full.is-gray
						.label.label--hide--border 獲取驗證碼
			.row.row--login.justify-content-center.align-item-start.w-100
				.col-12.content
					p.normal-p.text-center 請輸入驗證碼
				.col-lg-8.mx-auto.mb-3.d-flex.justify-content-center
					.row.g-2.justify-content-center
						.col-2
							.form--input
								input.p-0.text-center.form--input(type='text' placeholder="")
						.col-2
							.form--input
								input.p-0.text-center.form--input(type='text' placeholder="")
						.col-2
							.form--input
								input.p-0.text-center.form--input(type='text' placeholder="")
						.col-2
							.form--input
								input.p-0.text-center.form--input(type='text' placeholder="")
						.col-12
							p.invalid-feedback.text-center.d-block 輸入錯誤，請再輸入一次
				.col-12.justify-content-center.d-flex
					.button--pill--full
						.label.label--hide--border 送出驗證碼
				.col-12.justify-content-center.d-flex
					.button--pill--full.is-gray
						.label.label--hide--border 04:59重新寄送驗證碼
				.col-12.content
					p.normal-p.text-center 5分鐘倒數結束後，可重新寄送驗證碼。