extends _layout.pug

block vars
	- $id = 'index'

block main
	section.section--weekly
		.container.mt-5.mt-xl-0
			.section__title.w-100.is-form
				.title 歷史訂單
			.row.justify-content-center.align-item-start
				.col-12.col-md-3.justify-content-center.d-flex.mt-3.align-items-center
					.d-flex.justify-content-center.align-items-center 
						div 訂單查詢期間：
						.ms-2.d-none.d-md-inline-block 自
				.col-6.col-md-3.justify-content-center.d-flex.mt-3.align-items-center.d-block.d-md-none
					| 自
				.col-6.col-md-3.justify-content-center.d-flex.mt-3.align-items-center.d-block.d-md-none
					| 至
				.col-6.col-md-3.justify-content-center.d-flex.mt-3.align-items-center
					.form--input
						input#start-date.form--input(type='text', placeholder="2024-01-01")
				.col-md-1.justify-content-center.mt-3.align-items-center.d-md-flex.d-none
					.d-none.d-md-inline-block 至
				.col-6.col-md-3.justify-content-center.d-flex.mt-3.align-items-center
					.form--input
						input#end-date.form--input(type='text', placeholder="2024-01-01")
				.col-md-2.justify-content-center.mt-3.align-items-center.d-md-flex.d-none
					.button--pill--lg.all--white
						.label.label--hide--border 查詢
				.col-12.justify-content-center.d-flex.mt-3.align-items-center
					table.responsive-table
						thead
							tr
								th 訂單編號
								th 品項
								th 單價
								th 數量
								th 訂單狀態
								th 購買日期
						tbody
							tr
								td(data-label="訂單編號")
									.ms-2.ms-md-0 W202403200007
								td(data-label="品項")
									.ms-2.ms-md-0 50+帆布袋
								td(data-label="單價")
									.ms-2.ms-md-0 100
								td(data-label="數量")
									.ms-2.ms-md-0 5
								td(data-label="訂單狀態")
									.ms-2.ms-md-0 訂單成立
								td(data-label="購買日期")
									.ms-2.ms-md-0 2024-01-01 23:59:59
							tr
								td(data-label="訂單編號")
									.ms-2.ms-md-0 W202403200008
								td(data-label="品項")
									.ms-2.ms-md-0 50XS夢想計畫(新版)
								td(data-label="單價")
									.ms-2.ms-md-0 88888
								td(data-label="數量")
									.ms-2.ms-md-0 888
								td(data-label="訂單狀態")
									.ms-2.ms-md-0 訂單取消
								td(data-label="購買日期")
									.ms-2.ms-md-0 2024-04-01 23:59:59

					//- table.table--record
					//- 	thead
					//- 		tr 
					//- 			th 訂單編號
					//- 			th 品項
					//- 			th 單價
					//- 			th 數量
					//- 			th 訂單狀態
					//- 			th 購買日期
					//- 	tbody
					//- 		each index in [0, 1, 2, 3, 4]
					//- 			tr 
					//- 				td W202403200007
					//- 				td 50X50夢想計劃(新版)
					//- 				td 8888
					//- 				td 數量
					//- 				td 訂單取消
					//- 				td 2024-01-01 23:59:59


				.col-12.justify-content-center.d-flex.mt-3
					a(href="/memberCenter.html", class="w-100")
						.button--pill--full
							.label.label--hide--border 會員中心