extends _layout.pug

block vars
	- $id = 'index'

block main
	section.section--breadcrumb
		.container
			.breadcrumb 
				ul 
					li
						a(
						href='/'
						) 首頁
					li
						a(
						href=""
						) 會員中心
					li
						a(
						href=""
						) 登入方式管理
	section.section--weekly
		.container--slim.card--login.mt-5.mt-xl-0
			.section__title.w-100.is-form
				.login--title 登入方式管理
			.row.row--login.justify-content-center.align-item-start
				.content.mb-3
					p.normal-p 若您有Facebook、Line、Google帳號，可點選以下方式分別綁定，方縣下次快速登入50+會員！
				.col-12.justify-content-center.d-flex
					.button--more--slim.is-active
						.label--flex.text--tight
							.icon
								.button--facebook--origin.me-2
							| Facebook登入(已綁定)
				.col-12.justify-content-center.d-flex
					.button--more--slim
						.label--flex.text--tight
							.icon
								.button--line--origin.me-2
							| Line登入
				.col-12.justify-content-center.d-flex
					.button--more--slim
						.label--flex.text--tight
							.icon
								.button--google--origin.me-2
							| Google登入

				.col-12.justify-content-center.d-flex.mt-5
					a(href="./memberCenter.html", class="w-100")
						.button--pill--full
							.label.label--hide--border 會員中心