extends _layout.pug

block vars
	- $id = 'index'

block main
	section.section--weekly
		.container--slim.card--login.mt-5.mt-xl-0
			.section__title.w-100.is-form
				.login--title 會員登入
			.row.row--login.justify-content-center.align-item-start
				.content
					p(class="text-center normal-p") 還不是50+會員？點我
						a(href="./register.html", class="normal--link ms-2") 註冊
				.col-12.justify-content-center.d-flex
					.button--more--slim
						.label--flex
							.icon
								.facebook-origin.me-2
							| 使用Facebook帳戶
				.col-12.justify-content-center.d-flex
					.button--more--slim
						.label--flex
							.icon
								.line-origin.me-2
							| 使用Line帳戶
				.col-12.justify-content-center.d-flex
					.button--more--slim
						.label--flex
							.icon
								.google-origin.me-2
							| 使用Google帳戶
				.col-12.justify-content-center.align-item-start.mt-3
					.dash--text 或
				.col-12.d-flex.justify-content-center
					.form--input
						input#name.form--input(type='text', placeholder="手機或Email")
				.col-12.d-flex.justify-content-center
					.form--input.form--password
						input#password.form--input(type='password', placeholder="密碼(6碼以上含英文數字混合)")
						i#togglePassword.bi.bi-eye(onclick='togglePassword("togglePassword", "password")')
				.col-12.d-flex.justify-content-end
					a(href="./forgetPassword.html", class="normal--link ms-2") 忘記密碼
				.col-12.justify-content-center.d-flex.mt-3
					.button--pill--full
						.label.label--hide--border 下一步