extends _layout.pug

block vars
	- $id = 'index'

block main
	section.section--weekly
		.container--slim.card--login.mt-5.mt-xl-0
			.section__title.w-100.is-form
				.login--title 重設密碼
			.row.row--login.justify-content-center.align-item-start
				.content
					p.normal.-p 請重新設定您的會員密碼，並以更新後的密碼登入。

				.col-12.d-flex.justify-content-center
					.form--input
						input#name.form--input.disabled(type='text', value="0912345678")
				.col-12.d-flex.justify-content-center
					.form--input.form--password
						input#password.form--input(type='password', placeholder="新密碼(6碼以上含英文數字混合)")
						i#togglePassword.bi.bi-eye(onclick='togglePassword("togglePassword", "password")')
						p#passwordError.error-msg.hidden 密碼必須至少 6 個字符，並包含字母和數字。
				.col-12.d-flex.justify-content-center
					.form--input.form--password
						input#password2.form--input(type='password', placeholder="再次確認新密碼")
						i#togglePassword2.bi.bi-eye(onclick='togglePassword("togglePassword2", "password2")')
						p#password2Error.error-msg.hidden 兩次密碼不相同。
				.col-12.justify-content-center.d-flex.mt-3
					.button--pill--full
						.label.label--hide--border 送出