extends reviewBasic.pug

block vars
  - let step = 1
block pannel-mobile
  .panel--review
    .title 評鑑募集中
    .caption
      .review--text 體驗品 100 份
      .review--countdown 
        .label
          span 募集倒數
          b 11
          span 天
        .label
          b 12
          span 時
          b 30
          span 分
          b 30
          span 秒
    .buttons 
      a.button--pill--lg(
        href='./reviewRegister.html'
      )
        .label 申請試用
block sidebar
  .sticky-container
    .panel--review.static.d-none.d-md-block
      .title 評鑑募集中
      .caption
        .review--text 體驗品 100 份
        .review--countdown 
          .label
            span 募集倒數
            b 11
            span 天
          .label
            b 12
            span 時
            b 30
            span 分
            b 30
            span 秒
      .buttons
        a.button--pill--lg(
          href='./reviewRegister.html'
        )
          .label 搶先報名
    .mt-3
      +adBanner(true)