extends reviewBasic.pug

block vars
  - let step = 3
block pannel-mobile
  .panel--review
    .title 心得回填
    .caption
      .review--countdown 
        .label
          span 心得倒數
          b 11
          span 天
        .label
          b 12
          span 時
          b 30
          span 分
          b 12
          span 秒
    .buttons 
      a.button--pill--lg(
        href='#reviewForm'
      )
        .label 點此回填

block sidebar
  .panel--review.d-none.d-md-block
    .title 心得回填
    .caption
      .review--countdown 
        .label
          span 心得倒數
          b 11
          span 天
        .label
          b 12
          span 時
          b 30
          span 分
          b 12
          span 秒
    .buttons 
      a.button--pill--lg(
        href='#reviewForm'
      )
        .label 點此回填