<form class="form--review">
  <div class="form--caption d-flex align-items-center">
    <span class="red me-4">學員0</span>
    <div class="form--checkbox d-inline-block">
      <label class="align-center">
        <span></span>
        <input type="checkbox" />
        <div class="icon">
          <i class="bi bi-check-circle"></i>
          <i class="bi bi-circle"></i>
        </div>
        <span>自動帶入我的會員資料</span>
      </label>
    </div>
  </div>

  <div class="row">
    <div class="col-12 col-md-6">
      <div class="form--input">
        <label for="`name-${index}`">
          姓名
          <span class="label--hint"
            >(請務必填寫真實姓名，以利刷卡資料核對。)</span
          >
        </label>
        <input
          class="form--input"
          id="`name-${index}`"
          type="text"
          placeholder="請輸入姓名"
        />
      </div>
    </div>

    <div class="col-6">
      <div class="form--gender">
        <div class="label">性別</div>
        <div class="radio--group">
          <label
            ><input type="radio" name="`gender-${index}`" /><span
              >男</span
            ></label
          >
          <label
            ><input type="radio" name="`gender-${index}`" /><span
              >女</span
            ></label
          >
        </div>
      </div>
    </div>

    <div class="col-12 col-md-6">
      <div class="form--date">
        <div class="label">生日</div>
        <div class="select">
          <select id="`year-${index}`">
            <option>1999</option>
          </select>
        </div>
        <div class="select">
          <select id="`month-${index}`">
            <option>一月</option>
          </select>
        </div>
        <div class="select">
          <select id="`day-${index}`">
            <option>11</option>
          </select>
        </div>
      </div>
    </div>

    <div class="col-12 col-md-6">
      <div class="form--input is-required">
        <label for="`phone-${index}`"
          >手機
          <small>（請留下手機，方便入選後與您聯繫）</small>
        </label>
        <input id="`phone-${index}`" />
      </div>
    </div>

    <div class="col-12">
      <div class="form--input is-required">
        <label for="`email-${index}`">Email</label>
        <input id="`email-${index}`" />
      </div>
    </div>

    <div class="col-12">
      <div class="form--address">
        <div class="label">
          地址
          <small>（請留下地址，方便後續將試用品寄給您）</small>
        </div>
        <div class="address--code full">
          <div class="select">
            <select id="`zipcode-${index}`">
              <option>104</option>
            </select>
          </div>
          <div class="select">
            <select id="`city-${index}`">
              <option>台北市</option>
            </select>
          </div>
          <div class="select">
            <select id="`district-${index}`">
              <option>大安區</option>
            </select>
          </div>
        </div>
        <div class="address--text"><input id="`address-${index}`" /></div>
      </div>
    </div>

    <div class="col-12 col-md-6">
      <div class="form--radio-select">
        <div class="label">餐點需求</div>
        <div class="radio--group triple">
          <label
            ><input type="radio" name="`meal-${index}`" /><span>葷</span></label
          >
          <label
            ><input type="radio" name="`meal-${index}`" /><span>素</span></label
          >
          <label
            ><input type="radio" name="`meal-${index}`" /><span>無</span></label
          >
        </div>
      </div>
    </div>

    <div class="col-12">
      <div class="form--input">
        <label for="`used-product-${index}`"
          >請問您過去是否有使用過類似高蛋白產品？</label
        >
        <div class="select">
          <select id="`used-product-${index}`">
            <option>有</option>
            <option>沒有</option>
          </select>
        </div>
      </div>
    </div>

    <div class="col-12 col-md-6">
      <div class="form--radio-select">
        <div class="label">
          單選題
          <span class="label--hint">(備註備註備註備註備註備註)</span>
        </div>
        <div class="radio--group single">
          <label
            ><input type="radio" name="`single-${index}`" /><span
              class="from--start"
              >是:我不排斥食用乳製品</span
            ></label
          >
          <label
            ><input type="radio" name="`single-${index}`" /><span
              class="from--start"
              >否:我不排斥食用乳製品</span
            ></label
          >
        </div>
      </div>
    </div>

    <div class="col-12">
      <div class="form--radio-select">
        <div class="label">
          多選題
          <span class="label--hint">(備註備註備註備註備註備註)</span>
        </div>
        <div class="radio--group multiple">
          <label
            ><input type="radio" name="`multi-${index}`" /><span
              class="from--start"
              >眼睛退化</span
            ></label
          >
          <label
            ><input type="radio" name="`multi-${index}`" /><span
              class="from--start"
              >便秘便秘便秘便秘便秘便秘便秘</span
            ></label
          >
          <div class="address--text">
            <input id="`multi-other-${index}`" placeholder="其他(請說明)" />
          </div>
        </div>
      </div>
    </div>

    <div class="col-12">
      <div class="form--textarea is-required">
        <label for="`message-${index}`"
          >留言
          <span class="label--hint">(備註備註備註備註備註備註)</span>
        </label>
        <textarea
          id="`message-${index}`"
          class="form--input"
          type="text"
        ></textarea>
      </div>
    </div>

    <div class="col-12">
      <div class="form--upload">
        <label>圖片上傳</label>
        <form class="form--review">
          <div class="form--caption d-flex align-items-center">
            <span class="red me-4">學員0</span>
            <div class="form--checkbox d-inline-block">
              <label class="align-center">
                <span></span>
                <input type="checkbox" />
                <div class="icon">
                  <i class="bi bi-check-circle"></i>
                  <i class="bi bi-circle"></i>
                </div>
                <span>自動帶入我的會員資料</span>
              </label>
            </div>
          </div>

          <div class="row">
            <div class="col-12 col-md-6">
              <div class="form--input">
                <label for="`name-${index}`">
                  姓名
                  <span class="label--hint"
                    >(請務必填寫真實姓名，以利刷卡資料核對。)</span
                  >
                </label>
                <input
                  class="form--input"
                  id="`name-${index}`"
                  type="text"
                  placeholder="請輸入姓名"
                />
              </div>
            </div>

            <div class="col-6">
              <div class="form--gender">
                <div class="label">性別</div>
                <div class="radio--group">
                  <label
                    ><input type="radio" name="`gender-${index}`" /><span
                      >男</span
                    ></label
                  >
                  <label
                    ><input type="radio" name="`gender-${index}`" /><span
                      >女</span
                    ></label
                  >
                </div>
              </div>
            </div>

            <div class="col-12 col-md-6">
              <div class="form--date">
                <div class="label">生日</div>
                <div class="select">
                  <select id="`year-${index}`">
                    <option>1999</option>
                  </select>
                </div>
                <div class="select">
                  <select id="`month-${index}`">
                    <option>一月</option>
                  </select>
                </div>
                <div class="select">
                  <select id="`day-${index}`">
                    <option>11</option>
                  </select>
                </div>
              </div>
            </div>

            <div class="col-12 col-md-6">
              <div class="form--input is-required">
                <label for="`phone-${index}`"
                  >手機
                  <small>（請留下手機，方便入選後與您聯繫）</small>
                </label>
                <input id="`phone-${index}`" />
              </div>
            </div>

            <div class="col-12">
              <div class="form--input is-required">
                <label for="`email-${index}`">Email</label>
                <input id="`email-${index}`" />
              </div>
            </div>

            <div class="col-12">
              <div class="form--address">
                <div class="label">
                  地址
                  <small>（請留下地址，方便後續將試用品寄給您）</small>
                </div>
                <div class="address--code full">
                  <div class="select">
                    <select id="`zipcode-${index}`">
                      <option>104</option>
                    </select>
                  </div>
                  <div class="select">
                    <select id="`city-${index}`">
                      <option>台北市</option>
                    </select>
                  </div>
                  <div class="select">
                    <select id="`district-${index}`">
                      <option>大安區</option>
                    </select>
                  </div>
                </div>
                <div class="address--text">
                  <input id="`address-${index}`" />
                </div>
              </div>
            </div>

            <div class="col-12 col-md-6">
              <div class="form--radio-select">
                <div class="label">餐點需求</div>
                <div class="radio--group triple">
                  <label
                    ><input type="radio" name="`meal-${index}`" /><span
                      >葷</span
                    ></label
                  >
                  <label
                    ><input type="radio" name="`meal-${index}`" /><span
                      >素</span
                    ></label
                  >
                  <label
                    ><input type="radio" name="`meal-${index}`" /><span
                      >無</span
                    ></label
                  >
                </div>
              </div>
            </div>

            <div class="col-12">
              <div class="form--input">
                <label for="`used-product-${index}`"
                  >請問您過去是否有使用過類似高蛋白產品？</label
                >
                <div class="select">
                  <select id="`used-product-${index}`">
                    <option>有</option>
                    <option>沒有</option>
                  </select>
                </div>
              </div>
            </div>

            <div class="col-12 col-md-6">
              <div class="form--radio-select">
                <div class="label">
                  單選題
                  <span class="label--hint">(備註備註備註備註備註備註)</span>
                </div>
                <div class="radio--group single">
                  <label
                    ><input type="radio" name="`single-${index}`" /><span
                      class="from--start"
                      >是:我不排斥食用乳製品</span
                    ></label
                  >
                  <label
                    ><input type="radio" name="`single-${index}`" /><span
                      class="from--start"
                      >否:我不排斥食用乳製品</span
                    ></label
                  >
                </div>
              </div>
            </div>

            <div class="col-12">
              <div class="form--radio-select">
                <div class="label">
                  多選題
                  <span class="label--hint">(備註備註備註備註備註備註)</span>
                </div>
                <div class="radio--group multiple">
                  <label
                    ><input type="radio" name="`multi-${index}`" /><span
                      class="from--start"
                      >眼睛退化</span
                    ></label
                  >
                  <label
                    ><input type="radio" name="`multi-${index}`" /><span
                      class="from--start"
                      >便秘便秘便秘便秘便秘便秘便秘</span
                    ></label
                  >
                  <div class="address--text">
                    <input
                      id="`multi-other-${index}`"
                      placeholder="其他(請說明)"
                    />
                  </div>
                </div>
              </div>
            </div>

            <div class="col-12">
              <div class="form--textarea is-required">
                <label for="`message-${index}`"
                  >留言
                  <span class="label--hint">(備註備註備註備註備註備註)</span>
                </label>
                <textarea
                  id="`message-${index}`"
                  class="form--input"
                  type="text"
                ></textarea>
              </div>
            </div>

            <div class="col-12">
              <div class="form--upload">
                <label>圖片上傳</label>
                <div class="grid--upload--preview">
                  <div class="card--upload--preview">
                    <label for="`upload-input-0-${index}`"
                      ><input
                        class="upload-input"
                        id="`upload-input-0-${index}`"
                        type="file"
                        style="display: none"
                        onchange="handleFileUpload(this, 0)"
                      /><img
                        class="upload-preview"
                        id="`upload-preview-${index}`"
                        src=""
                        style="
                          display: none;
                          width: 100%;
                          height: 100%;
                          object-fit: cover;
                        "
                      /><i
                        class="bi bi-image upload-icon"
                        style="display: block"
                      ></i>
                      <p>新增 圖片 0</p>
                      <p>限定 JPEG &amp; PNG 格式</p></label
                    >
                  </div>
                  <div class="card--upload--preview">
                    <label for="`upload-input-1-${index}`"
                      ><input
                        class="upload-input"
                        id="`upload-input-1-${index}`"
                        type="file"
                        style="display: none"
                        onchange="handleFileUpload(this, 1)"
                      /><img class="upload-preview" id=`upload-preview-1" src=""
                      style=" display: none; width: 100%; height: 100%;
                      object-fit: cover; " /><i
                        class="bi bi-image upload-icon"
                        style="display: block"
                      ></i>
                      <p>新增 圖片 1</p>
                      <p>限定 JPEG &amp; PNG 格式</p></label
                    >
                  </div>
                  <div class="card--upload--preview">
                    <label for="`upload-input-2-${index}`"
                      ><input
                        class="upload-input"
                        id="`upload-input-2-${index}`"
                        type="file"
                        style="display: none"
                        onchange="handleFileUpload(this, 2)"
                      /><img class="upload-preview" id=`upload-preview-2" src=""
                      style=" display: none; width: 100%; height: 100%;
                      object-fit: cover; " /><i
                        class="bi bi-image upload-icon"
                        style="display: block"
                      ></i>
                      <p>新增 圖片 2</p>
                      <p>限定 JPEG &amp; PNG 格式</p></label
                    >
                  </div>
                  <div class="card--upload--preview">
                    <label for="`upload-input-3-${index}`"
                      ><input
                        class="upload-input"
                        id="`upload-input-3-${index}`"
                        type="file"
                        style="display: none"
                        onchange="handleFileUpload(this, 3)"
                      /><img class="upload-preview" id=`upload-preview-3" src=""
                      style=" display: none; width: 100%; height: 100%;
                      object-fit: cover; " /><i
                        class="bi bi-image upload-icon"
                        style="display: block"
                      ></i>
                      <p>新增 圖片 3</p>
                      <p>限定 JPEG &amp; PNG 格式</p></label
                    >
                  </div>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</form>
