extends _layout.pug

block vars
	- $id = 'index'

block main
	section.section--article--body
		.container--slim.card--login.mt-5.mt-xl-0
			.section__title.w-100.is-form
				.login--title 輸入驗證碼
			.row.row--login.justify-content-center.align-item-start.w-100
				.col-12.content
					p.normal-p.text-center 請輸入您手機或email收到的驗證碼共四碼
						br 
						|（剩餘時間59”）
				.col-lg-8.mx-auto.mb-3.d-flex.justify-content-center
					.row.g-2.justify-content-center
						.col-2
							.form--input
								input.p-0.text-center.form--input(type='text' placeholder="")
						.col-2
							.form--input
								input.p-0.text-center.form--input(type='text' placeholder="")
						.col-2
							.form--input
								input.p-0.text-center.form--input(type='text' placeholder="")
						.col-2
							.form--input
								input.p-0.text-center.form--input(type='text' placeholder="")
						.col-12
							p.invalid-feedback.text-center.d-block 輸入錯誤，請再輸入一次
				.col-12.justify-content-center.d-flex
					.button--pill--full
						.label.label--hide--border 送出