{{#createPlaceholder}}
{{#items}}
.{{prefix}}{{basename}}
  &
    position: relative
    display: inline-block
    background-repeat: no-repeat
    background-position: center center
    background-size: contain
    background-image: url('/{{{ path }}}')
    max-width: 100%
    width: calc({{width}}px*.5)
    height: auto
    aspect-ratio: {{width}}/{{height}}

{{/items}}
{{/createPlaceholder}}