-
  footer = [
    {
      title: "關於我們",
      id: "about",
    },
    {
      title: "隱私權政策",
      id: "privacy",
    },
    {
      title: "個資保護聲明",
      id: "terms",
    },
    {
      title: "購物 Q&A",
      id: "faq",
    },
    {
      title: "聯絡我們",
      id: "contact",
    },
    {
      title: "合作洽談",
      id: "cooperate",
    },
  ]
  qlink = [
    {
      name: "學院",
      icon: "icon--academy",
      href: "./academy.html"
    },
    {
      name: "週刊",
      icon: "icon--weekly",
      href: "./weekly.html"
    },
    {
      name: "評鑑",
      icon: "icon--review",
      href: "./review.html"
    },
    {
      name: "活動",
      icon: "icon--event",
      href: "./campaign.html"
    },
    {
      name: "影音",
      icon: "icon--video",
      href: "./video.html"
    },
    {
      name: "Podcast",
      icon: "icon--podcast",
      href: "./podcast.html"
    },
  ]