table.table--record
  thead
    tr 
      th 日期
      th 項目
      th 點數
  tbody
    each index in [0, 1, 2, 3, 4]
      tr 
        td 2024/5/20
        td 5月叫貨加點
        td
          strong +1200
      tr 
        td 2024/5/1
        td 星巴克
        td
          i -700