@keyframes arrow-move {
  0% {
    transform: translateX(-5%);
  }
  50% {
    transform: translateX(5%);
  }
  100% {
    transform: translateX(-5%);
  }
}

@keyframes join-us {
  0% {
    right: -20px;
  }
  50% {
    right: -40px;
    background: var(--theme-color);
  }
  100% {
    right: -20px;
  }
}

@keyframes up-down {
  0% {
    transform: translateY(0px) translateX(0px);
    border-bottom: 1px solid #222;
    background-color: #efeae5;
  }
  50% {
    transform: translateY(-5px) translateX(-5px);
    border-bottom: 7px solid #222;
    background-color: var(--theme-color);
  }
  100% {
    transform: translateY(0px) translateX(0px);
    border-bottom: 1px solid #222;
    background-color: #efeae5;
  }
}
