@keyframes arrow-move {
  0% {
    transform: translateX(-5%);
  }
  50% {
    transform: translateX(5%);
  }
  100% {
    transform: translateX(-5%);
  }
}

@keyframes join-us {
  0% {
    right: -20px;
  }
  50% {
    right: -40px;
    background: var(--theme-color);
  }
  100% {
    right: -20px;
  }
}
