body
  margin: 0
  padding: 0
  background: white

.container
  &
    position: relative
    max-width: 100%
    // overflow-x: hidden
  @media (min-width: theme('screens.sm'))
    max-width: 100%
  @media (min-width: theme('screens.md'))
    max-width: 640px
  @media (min-width: theme('screens.lg'))
    max-width: 960px
  @media (min-width: theme('screens.xl'))
    max-width: 1160px
  @media (min-width: theme('screens.1440px'))
    max-width: 1300px
  // @media (min-width: theme('screens.1600px'))
  //   max-width: 88.75rem

.container--slim
  &
    --bs-gutter-x: 20px
    position: relative
    max-width: 100%
    margin: 0 auto
    padding-left: calc(var(--bs-gutter-x)* .5)
    padding-right: calc(var(--bs-gutter-x)* .5)
    // overflow-x: hidden
  @media (min-width: theme('screens.sm'))
    max-width: 100%
  @media (min-width: theme('screens.md'))
    max-width: 640px
  @media (min-width: theme('screens.lg'))
    max-width: 880px
  @media (min-width: theme('screens.xl'))
    max-width: 960px
  @media (min-width: theme('screens.1440px'))
    max-width: 1180px
  @media (min-width: theme('screens.1600px'))
    max-width: 1340px

:root
  &
    --bs-gutter-x: 40px
    --bs-gutter-y: 60px
  @media (min-width: theme('screens.sm'))
    --bs-gutter-x: 20px
    --bs-gutter-y: 20px
      
section
  &
    margin: 0 auto
    width: 100%


.list--store
  display: grid
  grid-template-columns: repeat(3, 1fr)
  gap: 32px

section
  position: relative
  z-index: 2
  padding: 40px 0

.section--cover
  &
    position: relative
    overflow: hidden
    padding-top: 20px
    background: rgba(#b7b8b8, .1)
    margin-bottom: 40px
  @media (max-width: theme('breakpoints.md'))
    &
      // padding-top: 61px
      margin-bottom: 0
      background: transparent
    .swiper--banner
      margin: 0 -20px
    // .container
    //   padding: 0
      

.bg--cover
  &
    position: fixed
    top: 0
    left: 0
    width: 100vw
    height: 100vh
    overflow: hidden
    z-index: 1
  > img
    position: absolute
    width: 100%
    height: 100%
    object-fit: cover

.section--list
  &
    background: white

.section--cta
  &
    background: white

.section--spacer
  &
    padding: 0

.section--restaurant
  &
    background: #FFF4E3
  + .section--spacer
    background: #FFF4E3

.section--store
  &
    background: white
    padding-top: 40px
  + .section--spacer
    background: white
  
.list--podcast
  &
    display: flex
    flex-direction: column
    gap: 16px
    justify-content: space-between
  @media (max-width: theme('breakpoints.md'))
    > *:nth-child(n+4)
      display: none

.grid--podcast
  &
    display: grid
    grid-template-columns: 330px 1fr
    gap: 60px
    max-width: 1500px
    margin: 0 auto 32px
  .embed--podcast
    background: #f8f8fa
  @media (max-width: theme('breakpoints.lg'))
    &
      grid-template-columns: 1fr
      gap: 32px
    .embed--podcast
      padding: 16px

.section--video
  @media (max-width: theme('breakpoints.md'))
    .swiper--mobile
      margin-bottom: 40px

.grid--video
  &
    display: grid
    grid-template-columns: 69.1% 1fr
    grid-template-rows: repeat(2, 1fr)
    row-gap: 24px
    column-gap: 48px
    max-width: 1500px
    margin: 0 auto 32px
  > *:nth-child(1)
    grid-column: span 1
    grid-row: span 2
  @media (max-width: theme('breakpoints.md'))
    &
      grid-template-columns: repeat(1, 1fr)
      gap: 16px
    > *:nth-child(1)
      grid-column: unset
      grid-row: unset
  @media (max-width: theme('breakpoints.lg'))
    &
      grid-template-columns: repeat(2, 1fr)
      grid-template-rows: unset
      gap: 24px
    > *:nth-child(1)
      grid-column: span 2
  @media (max-width: theme('screens.xl'))
    &
      grid-template-columns: 68.8% 1fr
  @media (min-width: theme('screens.1440px'))
    &
      grid-template-columns: 68.8% 1fr
  @media (min-width: theme('screens.1600px'))
    &
      grid-template-columns: 69.1% 1fr
  

.grid--snippet,
.selection-detail
  &
    display: grid
    grid-template-columns: 78.9% 1fr
    grid-template-rows: repeat(5, 1fr)
    gap: 16px
    margin: 0 auto 32px
  > *
    position: relative
  > *:nth-child(2)
    &
      grid-column: span 1
      grid-row: span 5
  > *:nth-child(1)
    &
      grid-column: span 1
      grid-row: span 5
    .caption
      display: block
    .pic
      &
        position: relative
        width: 100%
        height: 100%
      img
        position: absolute
        width: 100%
        height: 100%
        object-fit: cover
  @media (max-width: theme('breakpoints.lg'))
    gap: 16px
  @media (max-width: theme('breakpoints.md'))
    &
      grid-template-columns: repeat(1, 1fr)
      grid-template-rows: unset
    > *
      display: none
    > *:nth-child(1)
      &
        display: block
        grid-column: unset
        grid-row: unset

.selection-detail
  &
    display: grid
    grid-template-columns: repeat(10, 1fr)
    grid-template-rows: repeat(5, 1fr)
    gap: 16px
    margin: 0
  > *
    position: relative
  > *:nth-child(3)
    &
      grid-column: span 4
      grid-row: span 5
  > *:nth-child(2)
    &
      grid-column: span 1
      grid-row: span 5
  > *:nth-child(1)
    &
      grid-column: span 5
      grid-row: span 5
    .caption
      display: block
    .pic
      &
        position: relative
        width: 100%
        height: 100%
      img
        position: absolute
        width: 100%
        height: 100%
        object-fit: cover
  @media (max-width: theme('breakpoints.lg'))
    gap: 16px
    > *
      display: block
    > *:nth-child(3)
      &
        grid-column: span 10
        grid-row: span 4
    > *:nth-child(2)
      &
        grid-column: span 10
        grid-row: span 4
    > *:nth-child(1)
      &
        grid-column: span 10
        grid-row: span 5
.section--selectionDetail--header
  .header-text-area
    text-align: right
    padding-left: 20px
    @media (max-width: theme('breakpoints.lg'))
      padding-left: 0px

    .title 
      +fontSize(39px)
      font-weight: 600
      font-family: "Noto Serif TC", serif
      letter-spacing: 3px
      margin-bottom: 60px
      @media (max-width: theme('breakpoints.lg'))
        +fontSize(30px)
        text-align: left

    .price
      position: relative
      margin-top: 40px
      display: flex
      justify-content: flex-end
      align-items: center
      span
        font-weight: 700
        font-family: "Noto Sans TC", serif
        +fontSize(26px)
        letter-spacing: 2px
        margin-left: 10px
      .origin-price 
        color: #B7B9B8
        position: absolute
        font-weight: 300
        top: -20px
        right: 0
      
    .price-mobile
      position: relative
      text-align: center
      margin-top: 40px
      font-weight: 700
      span
        font-family: "Noto Sans TC", serif
        +fontSize(20px)
        letter-spacing: 2px
        margin-left: 10px
      .origin-price 
        color: #B7B9B8
        position: absolute
        font-weight: 300
        top: -30px
        left: 0
        right: 0
    .text
      text-align: right
      font-family: "Noto Sans TC", serif
      @media (max-width: theme('breakpoints.lg'))
        text-align: left
.grid--event 
  &
    display: grid
    grid-template-columns: repeat(3, 1fr)
    grid-template-rows: repeat(2, 1fr)
    gap: 48px
    max-width: 1500px
    margin: 0 auto 32px
  > *:nth-child(1)
    grid-column: span 3
    grid-row: span 2
  > *:nth-child(3),
  > *:nth-child(4)
    &
      position: relative
    &::before
      content: ""
      display: block
      width: 1px
      height: 100%
      background: #515050
      position: absolute
      top: 0
      left: -24px
  @media (max-width: theme('breakpoints.lg'))
    &
      grid-template-columns: repeat(3, 1fr)
      grid-template-rows: unset
      gap: 16px
    > *:nth-child(1)
      display: block
      grid-column: span 3
      grid-row: unset
    > *:nth-child(3),
    > *:nth-child(4)
      &
        position: unset
      &::before
        display: none
  @media (max-width: theme('breakpoints.md'))
    > *
      display: none


.row--article,
.row--video,
.row--podcast,
.row--weekly,
.row--course,
.row--event
  &
    --bs-gutter-x: 40px
    --bs-gutter-y: 60px
    margin-bottom: var(--bs-gutter-y)
  @media (max-width: theme('breakpoints.xl'))
    &
      --bs-gutter-x: 20px
  @media (max-width: theme('breakpoints.md'))
    &
      --bs-gutter-x: 20px

.row--login
  &
    max-width: 460px
    --bs-gutter-x: 40px
    --bs-gutter-y: 15px
    margin-bottom: var(--bs-gutter-y)
    .normal-p
      &
        +fontSize(18px)
        color: #515151
        font-weight: 500
  @media (max-width: theme('breakpoints.xl'))
    &
      --bs-gutter-x: 20px
  @media (max-width: theme('breakpoints.md'))
    &
      --bs-gutter-x: 20px

// .row--article
//   @media (min-width: theme('screens.lg'))
//     &
//       > *:nth-child(n+9)
//         display: none

.row--weekly
  @media (max-width: theme('breakpoints.lg'))
    // > *:nth-child(n+3)
    //   display: none

.list--snippet--mobile 
  &
    display: flex
    flex-wrap: nowrap
    gap: 20px
    width: 100%
    overflow-x: auto
    padding: 20px 0
  &::-webkit-scrollbar
    display: none
  > .card--snippet
    min-width: 150px

.section--black
  &
    background: #000
    padding-top: 32px
    padding-bottom: 1px

.section--breadcrumb
  &
    padding: 32px 0
    @media (max-width: theme('screens.lg'))
      // margin-top: 50px
      padding-bottom: 0
  &.is-sp
    background: #eee9e4
  > .container
    display: flex
    justify-content: space-between
    
  > .container > .breadcrumb
    margin-bottom: 0
  &.special--bg
    @media (max-width: theme('breakpoints.md'))
      background: #eee9e4
.border--bottom
  width: 100%
  border-bottom: 1px solid #222
  padding-bottom: 20px


.section--breadcrumb + .section--article
  padding-top: 0

.grid--cover
  &
    display: grid
    grid-template-columns: 70.2% 1fr
    grid-template-rows: repeat(2, 1fr)
    column-gap: 40px
    row-gap: 20px
  > .swiper--banner
    grid-column: span 1
    grid-row: span 2
  @media (min-width: theme('screens.lg'))
    &
      grid-template-columns: 74.2% 1fr
      column-gap: 30px
    > .card--cover:nth-child(4)
      display: none
  @media (min-width: theme('screens.xl'))
    &
      grid-template-columns: 72.3% 1fr
  @media (min-width: theme('screens.1440px'))
    &
      grid-template-columns: 71.8% 1fr
  @media (min-width: theme('screens.1600px'))
    &
      grid-template-columns: 71.9% 1fr
  @media (max-width: theme('breakpoints.lg'))
    &
      display: flex
      flex-direction: column


.caption--confirm
  padding-top: 40px
  margin-bottom: 40px

.article--slim
  &
    max-width: 800px
    margin: 0 auto
  h4
    &
      text-align: center
    span
      padding-bottom: 5px
      background: linear-gradient(180deg, #FFFFFF 60%, #f5e500 60%)
  p
    font-family: 'Noto Sans TC', sans-serif
    +fontSize(18px)
    margin-bottom: 20px
  .pic--wrapper
    &
      max-width: 620px
      margin: 0 auto 32px
    .pic
      margin-bottom: 10px
      .square
        aspect-ratio: 1/1
    .caption
      font-size: 16px
      font-family: 'Noto Sans TC', sans-serif
    .img-note
      font-size: 16px
      font-family: 'Noto Sans TC', sans-serif
      color: #777777
      letter-spacing: .25em

  .youtube--wrapper
    &
      width: 100%
    > iframe
      aspect-ratio: 16/9
      width: 100%

.section--course,
.section--campaign
  &.is-achieved
    background: #ede8e3
  .row--campaign
    @media (max-width: theme('breakpoints.xl'))
      margin: 0
      .card--campaign
        padding: 10px

.section--course--cover
  &
    padding-top: 0
    background: linear-gradient(180deg, #f5e50080 0%, #FFFFFF 50%)
  .swiper--banner
    max-width: 800px
    margin: 0 auto
  @media (min-width: theme('breakpoints.1600px'))
    .swiper--banner
      max-width: 1060px

.section--campaign--cover
  &
    padding-top: 0
    background: #ede8e3
  .swiper--banner
    max-width: 800px
    margin: 0 auto
  @media (min-width: theme('breakpoints.1600px'))
    .swiper--banner
      max-width: 1060px

.section--event--cover
  &
    position: relative
    display: flex
    justify-content: center
    align-items: center
    padding: 0
    aspect-ratio: 1280/720
    min-height: 100vh
  .bg
    &
      position: absolute
      z-index: 1
      width: 100%
      height: 100%
    > img
      position: absolute
      width: 100%
      height: 100%
      object-fit: cover
    

.section--event--detail 
  &
    padding: 40px 0

.section--event--youtube
  background: #515050

.section--event--album
  &
    background: #000
  @media (max-width: theme('breakpoints.md'))
    .section__title
      margin-bottom: 20px

.section--banner
  padding-top: 0

.section--donate
  .container--slim + .container--slim
    margin-top: 40px
  .reverse
    flex-wrap: wrap-reverse

.section--donate--banner
  &
    background: #eee9e4

// .row > *
//   margin-top: 0

.row--selection
  &
    width: 100%
    max-width: 1080px
    margin: 0 auto 40px
    --bs-gutter-x: 40px
    --bs-gutter-y: 40px
    @media (max-width: theme('breakpoints.sm'))
      --bs-gutter-x: 10px
  .pic
    width: 100%
    height: 100%
    img
      width: 100%
      height: 100%
      object-fit: cover

.container > .content
  max-width: 720px
  margin: 0 auto

.section--article--header,
.section--audio--header
  &
    background: #eee9e4
  .container
    &
      display: grid
      grid-template-columns: repeat(2, auto)
      grid-template-rows: repeat(3, auto)
      gap: 20px
      @media (max-width: theme('breakpoints.md'))
        gap: 15px
    > .page--title
      grid-column: span 2
      grid-row: span 1
    .mobile--caption
      font-family: "Noto Serif TC", serif
      grid-column: span 2
      grid-row: span 1
      font-weight: 600
      color: #515050
      .normal-font
        font-family: "Noto Sans TC", serif
        font-weight: 400
        .bi-eye
          font-size: 22px
    .iframe-container
      grid-column: span 2
      grid-row: span 1
      display: flex
      justify-content: space-around
      .iframe
        flex: 1
        display: flex
        justify-content: flex-start
        iframe
          aspect-ratio: 5 / 3
          width: 80%
          height: 100%
          @media (max-width: theme('breakpoints.md'))
            width: 100%
.mobile-share-bar
  grid-column: span 2
  grid-row: span 1
  display: flex
  justify-content: space-between
  align-items: center
  background: var(--theme-color)
  padding: 10px
  position: relative
  bottom: -40px
  height: 50px
  border-top: 1px solid #515151
  &.hide-border
    border: none
  .item
    flex: 1
    height: 100%
    text-align: center
    border-right: 1px solid #515050
    color: #515050
    font-size: 24px
    font-weight: 700
    display: flex
    align-items: center
    justify-content: center
    cursor: pointer
    &.line
      font-size: 16px
      font-weight: 900
      letter-spacing: 0px
    &.link
      .bi-link-45deg::before
        font-weight: 800 !important
    &.subscribe
      font-size: 14px
    &.size
      &
        border: none
      .aa
        width: 26px
      .bi-type::before
        font-weight: 800 !important

.page--cover
  @media (max-width: theme('breakpoints.md'))
    grid-column: span 2
    grid-row: span 1
  img
    aspect-ratio: 5 / 3
    width: 100%
    max-width: 960px
  .caption
    position: absolute



.page--caption
  &
    display: flex
    flex-direction: column
    justify-content: flex-end
    align-items: flex-end
    gap: 20px
  .buttons
    margin-bottom: 0

.section--review--header
  &
    position: relative
    height: auto
    padding: 0
  img
    position: relative
    left: 50%
    transform: translateX(-50%)
    width: 100%
    height: 100%
    max-width: 960px
    aspect-ratio: 5 / 3
  
.section--article--steps
  &
    padding: 40px 0 80px
    background: #f8e800
  @media (max-width: 580px)
    background: #EEE9E5
.section--class--header,
.section--selectionDetail--header,
.section--campaign--header,
.section--classDetail--header
  &
    background: #eee9e4
  .container
    &.border-l-none
      border-left: none
    @media (max-width: theme('breakpoints.lg'))
      border: none

.section--classDetail--header,
.section--class--header,
.section--campaign--header
  .container
    .normal-info
      display: flex
      justify-content: flex-start
      align-items: center
      font-weight: 700
      color: #222
      font-family: "Noto Sans TC", serif
      margin-top: 10px
      position: relative
      &.is--sub
        margin-bottom: 30px
      .info-subject 
        &::after
          margin-left: 10px
          content: "|"
      .info-content
        padding-left: 10px
        position: relative
        .sub-hint
          +fontSize(14px)
          color: #515151
          font-weight: 500
          position: absolute
          bottom: -25px
          white-space: nowrap
          &.color-red
            color: red
      
  .description
    &
      text-align: left
      position: relative
      border: none
      @media (max-width: theme('breakpoints.lg'))
        padding: 0 20px
        border-right: 2px solid #B1B0AC
        border-left: 2px solid #B1B0AC
      &.hide-border
        border: none
    .title
      margin-top: 30px
      +fontSize(24px)
      @media (min-width: 1440px)
        font-size: 26px
      font-weight: 700
      font-family: 'Noto Serif TC', sans-serif  
    .date,
    .address
      &
        display: flex
        align-items: center
        color: #515151
        margin-top: 10px
        +fontSize(18px)
        .icon-bg
          width: 24px
          height: 24px
          background: #525252
          border-radius: 50%
          display: flex
          justify-content: center
          align-items: center
          margin-right: 10px
        i
          color: #fff
          font-size: 12px
          margin-left: 1px
          margin-bottom: 1px
      
    .date-circle
      &
        position: absolute
        display: flex
        flex-direction: column
        justify-content: center
        align-items: center
        border: 2px solid #000
        border-radius: 50%
        padding: 25px
        width: 120px
        height: 120px
        background: #fff
        right: 0
        top: 0
        font-weight: 600
        font-family: 'Noto Serif TC', sans-serif
        @media (max-width: theme('breakpoints.lg'))
          display: none
      .seperate
        height: 40%
        width: 1px
        border-right: 2px solid #000
        min-height: 25px
        margin: 3px 0
.quick-bar 
  &
    display: flex
    justify-content: space-between
    align-items: center
    background: #fff
    width: 100%
    position: relative
    bottom: -40px
    +fontSize(18px)
    font-weight: 500
  .item--link
    width: 100%
    border-right: 1px solid black
  .item
    &
      flex: 1
      text-align: center
      padding: 15px
      background: #fff
      font-family: "Noto Serif TC", serif
      cursor: pointer
    &.active
      background: #FEFACB


.grid--steps
  &
    display: grid
    grid-template-columns: repeat(4, 1fr)
    grid-template-rows: repeat(4, auto)

.grid--upload--preview
  &
    display: grid
    grid-template-columns: repeat(4, 1fr)
    gap: 20px
    @media (max-width: theme('breakpoints.lg'))
      display: flex
      flex-direction: column
.section--audio--body,
.section--article--body
  @media (max-width: theme('breakpoints.sm'))
    padding-left: 18px
    padding-right: 18px

.section--class--body,
.section--campaign--body,
.section--selectDetail--body 
  article
    p
      color: #222222
    @media (max-width: theme('breakpoints.lg'))
      font-size: 20px !important
  .reverse
    flex-wrap: wrap-reverse
  .sticky-container
    position: sticky
    top: 80px
    @media (max-width: theme('breakpoints.lg'))
      position: relative
      top: 0
    .share-bottons
      border: 1px solid #000
      border-radius: 50px
      padding: 10px
      gap: 15px
      margin: 30px 0
      > *
        width: 40px
        height: 40px
  
  .class--amount
    border: 1px solid #000
    padding: 20px
    display: flex
    flex-direction: column
    align-items: center
    justify-content: center
    .total-text
      font-weight: 700
      margin-right: 20px
    .total-price
      font-weight: 700
      margin-left: 10px
      text-align: right
      del
        font-weight: 400
        margin-right: 5px
        +fontSize(14px)
        color: #B7B9B8

    .botton--check-out
      font-weight: 700
      font-family: "Noto Sans TC", serif
  .campaign--title--border
    border-left: 20px solid var(--theme-color)
    padding-left: 10px
    font-weight: 700
    +fontSize(22px)
    margin: 60px 0
    @media (max-width: theme('breakpoints.md'))
        display: none
  .teacher-area
    .name
      +fontSize(22px)
      font-weight: 700
      padding-bottom: 10px
      border-bottom: 2px solid var(--theme-color)
      @media (max-width: theme('breakpoints.md'))
        display: none
  .campaign-intro-area
    display: flex
    align-items: flex-start
    justify-content: flex-start
    min-height: 300px
    margin-bottom: 40px
    background: #F8F8F8
    margin-top: 20px
    @media (max-width: theme('breakpoints.md'))
      flex-direction: column
      background: #fff
      align-items: center
    .mobile--intro--line
      display: none
      align-items: center
      background: #fff
      width: 100%
      @media (max-width: theme('breakpoints.md'))
        display: flex
      .text
        padding: 15px
        margin: 20px
        background: var(--theme-color)
        font-weight: 600
        border-radius: 10px
        +fontSize(20px)
      .line
        flex: 1
        border: 1px solid var(--theme-color)
    .img-area
      position: relative
      padding: 20px
      @media (max-width: theme('breakpoints.md'))
        width: 100%
        background: #fff
      .pic
        width: 150px
        height: 150px
        display: flex
        justify-content: center
        align-items: center
        border-radius: 50%
        overflow: hidden

        
        @media (max-width: theme('breakpoints.md'))
          position: relative
          left: 50%
          transform: translateX(-50%)
          z-index: 2
        img
          width: 100%
          height: 100%
          z-index: 2
      .circle-bg
        position: absolute
        width: 150px
        height: 150px
        border: 1px solid var(--theme-color)
        border-radius: 50%
        bottom: 5px
        z-index: 1
        @media (max-width: theme('breakpoints.md'))
          width: 150px
          height: 150px
          left: 50%
          top: 50%
          margin-top: 16px
          transform: translate(-50%, -50%)
          z-index: 1

    .main-content
      padding: 20px
      flex: 1
      height: 100%
      @media (max-width: theme('breakpoints.md'))
        border: none
        border-radius: 20px
        background: #F8F8F8

      .title
        font-family: "Noto Sans TC", serif
        padding-left: 10px
        margin-bottom: 30px
        +fontSize(24px)
        font-weight: 800
        @media (max-width: theme('breakpoints.md'))
          text-align: center
      .main-area
        background: #F8F8F8
        padding: 15px
        line-height: 1.8
        letter-spacing: 2px
  .intro-area
    display: flex
    align-items: flex-start
    justify-content: flex-start
    min-height: 300px
    margin-bottom: 40px
    @media (max-width: theme('breakpoints.md'))
      flex-direction: column
      align-items: center
    .img-area
      position: relative
      padding: 20px
      @media (max-width: theme('breakpoints.md'))
        width: 100%
      .title
        position: relative
        font-family: "Noto Serif TC", serif
        +fontSize(18px)
        font-weight: 700
        color: #515151
        padding-left: 30px
        margin-bottom: 5px
        letter-spacing: 2px
        &::before
          content: " "
          display: inline-block
          position: absolute
          margin-right: 25px
          width: 20px
          height: 20px
          border-radius: 50%
          background: var(--theme-color)
          top: 50%
          transform: translateY(-50%)
          left: 0
      .pic
        width: 150px
        height: 150px
        display: flex
        justify-content: center
        align-items: center
        border-radius: 50%
        overflow: hidden
        @media (max-width: theme('breakpoints.md'))
          position: relative
          left: 50%
          transform: translateX(-50%)
        img
          width: 100%
          height: 100%
      .circle-bg
        position: absolute
        width: 100px
        height: 100px
        border: 1px solid var(--theme-color)
        border-radius: 50%
        top: -10px
        right: 20px
        z-index: -1
        @media (max-width: theme('breakpoints.md'))
          width: 150px
          height: 150px
          left: 50%
          top: 50%
          margin-top: 16px
          transform: translate(-20%, -50%)
    .main-content
      padding-left: 20px
      flex: 1
      height: 100%
      border-left: 1px solid #BABABA
      @media (max-width: theme('breakpoints.md'))
        border: none
        padding-left: 0
      .title
        font-family: "Noto Sans TC", serif
        padding-left: 10px
        margin-bottom: 30px
        +fontSize(18px)
        font-weight: 800
        @media (max-width: theme('breakpoints.md'))
          text-align: center
      .main-area
        background: #F8F8F8
        padding: 15px
        line-height: 1.8
        letter-spacing: 2px
  .choose--class
    display: flex
    flex-direction: column
    justify-content: flex-start
    align-items: center
    background: #514F50
    padding: 40px
    @media (max-width: theme('breakpoints.md'))
      padding: 40px 20px
    .title
      width: 100%
      text-align: center
      color: #fff
      font-family: 'Noto Sans TC', serif
      letter-spacing: .25rem
      font-weight: 600
      border-bottom: 1px solid #606060
      padding-bottom: 10px
      +fontSize(24px)
    .discount
      background: #EEE9E5
      padding: 20px 40px
      width: 80%
      border-radius: 50px
      margin: 30px 0px
      display: flex
      align-items: center
      @media (max-width: theme('breakpoints.md'))
        width: 100%
        flex-direction: column
        align-items: center
        gap: 20px
        border-radius: 20px

      .discount--title
        +fontSize(22px)
        color: #222222
        font-weight: 800
        border: none
        margin-right: 40px  
      .content
        color: #515151
    .apply
      width: 80%
      background: #fff
      padding: 30px 40px
      @media (max-width: theme('breakpoints.md'))
        width: 100%
        padding: 20px
      .item
        display: flex
        @media (max-width: theme('breakpoints.md'))
          flex-direction: column
          align-items: center
        .form--radio 
          display: flex
          align-items: center
          width: 25px
          margin-right: 20px
          @media (max-width: theme('breakpoints.md'))
            width: 100%
          label
            &
              position: relative
              cursor: pointer
              border: 1px solid #515151
              width: 24px
              height: 24px
              min-width: 24px
              min-height: 24px
              border-radius: 50%
            input
              position: relative
              opacity: 0
            input + span
              position: absolute
              top: 2px
              left: 2px
              background: #fff
              display: block
              width: 18px
              height: 18px
              border-radius: 50%
            input:checked + span
              background: #b8b8b8
          .subject
            color: #515151
            margin-left: 10px
            +fontSize(22px)

        .content
          display: flex
          justify-content: center
          align-items: center
          width: 100%
          padding: 30px 0
          border-bottom: 1px solid #606060
          color: #515151
          @media (max-width: theme('breakpoints.md'))
            flex-direction: column
            align-items: center
            justify-content: space-around
            padding: 20px
            gap: 20px
          &.hide-border
            border: none
          .total--discount
            color: #ff0000
            flex: 3
            letter-spacing: 2.5px
          .subject
            flex: 3
            letter-spacing: 3px
          .price
            flex: 2
            font-weight: 500
            span.money 
              +fontSize(18px)
            span.unit 
              margin-left: 10px
          .amount--area
            flex: 1
            display: flex
            flex-direction: column
            align-items: flex-end
            @media (max-width: theme('breakpoints.md'))
              align-items: center
              gap: 20px
            .origin-price
              color: #B7B9B8
            .amount
              color: #222222
              white-space: nowrap
              +fontSize(18px)
          .count--area
            flex: 1
            display: flex
            justify-content: space-around
            align-items: center
            i.bi::before
              font-weight: 1000 !important
            .form--text 
              input[type='text']
                &
                  font-family: 'Noto Sans TC', sans-serif
                  width: 50px
                  height: 40px
                  border: 1px solid #000
                  background: transparent
                  text-align: center
                &:focus
                  outline: none
    .bottom-group
      display: flex
      justify-content: space-between
      align-items: center
      width: 80%
      margin-top: 40px
      gap: 20px
      @media (max-width: theme('breakpoints.sm'))
        flex-direction: column
  
  .hint
    color: #222222
    background: var(--theme-color)
    font-family: "Noto Serif TC", serif
    margin-top: 40px
    padding: 10px 20px
    border-radius: 50px
    font-weight: 600
    @media (max-width: theme('breakpoints.md'))
      text-align: center
    a 
      color: #FF0000
.section--review--body
  padding: 10px 20px
  @media (max-width: theme('breakpoints.md'))
    padding: 40px 0
  .reverse
    flex-wrap: wrap-reverse
  .review-collect
    background: var(--theme-color)
    width: 160px
    padding: 15px
    border-radius: 50px
    text-align: center
    font-weight: 600
    +fontSize(18px)
    font-family: 'Noto Sans TC', sans-serif
    @media (max-width: theme('breakpoints.md'))
      font-size: 16px
      width: 120px
      padding: 5px
      border: 1px solid #222222
      background: #fff
  .sticky-container
    position: sticky
    top: 80px
    @media (max-width: theme('breakpoints.lg'))
      position: relative
      top: 0

.timeline
  display: flex
  flex-direction: column
  align-items: center
  margin: 50px auto
  padding: 0 20px
  max-width: 300px
  position: relative
  @media (max-width: theme('breakpoints.md'))
    transform: translateX(45px)
  

  .timeline-step
    display: flex
    align-items: flex-start
    margin-bottom: 60px
    position: relative

    &:last-child
      margin-bottom: 0
      .timeline-content::before // 仅针对最后一个
        display: none
    // 圓形標記
    .timeline-marker
      flex-shrink: 0
      width: 16px
      height: 16px
      background-color: black
      border-radius: 50%
      position: absolute
      margin-right: 10px
      top: 50%
      transform: translateY(-50%)
      left: -26px
      span
        position: relative
        right: 65px
        bottom: 6px
        font-family: "Noto Serif TC", serif
        font-weight: 600

      

    // 內容區域
    .timeline-content
      background-color: white
      border-radius: 8px
      padding: 15px
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1)
      border: 1px solid transparent
      transition: 0.3s
      position: relative
      top: 0
      // transform: translateY(-50%)
      &::before
        content: ''
        position: absolute
        height: calc(100% + 62px)
        top: 50%
        left: -20px
        width: 2px
        background-color: black
      

      .step-title
        +fontSize(14px)
        font-weight: bold
        color: #555
        margin-bottom: 8px

      .status-box
        h3
          position: relative
          +fontSize(20px)
          font-weight: bold
          margin: 0 0 5px
          color: #222
          text-align: center
          border-bottom: 1px solid var(--theme-color)
          padding-bottom: 10px
        p
          padding-top: 10px
          +fontSize(18px)
          color: #666
          margin: 0 0 10px
        .date
          position: absolute
          +fontSize(16px)
          color: #222
          bottom: -30px
          left: 50%
          transform: translateX(-50%)
          font-family: "Noto Serif TC", serif
          font-weight: 600

    &.active .timeline-content
      background-color: var(--theme-color)
      border-color: #222
      .status-box
        h3
          border-bottom: 1px solid #fff
.section--report--body 
  &
    .recomand
      width: 100%
      display: flex
      justify-content: flex-end
      align-items: center
      &::before
        content: ""
        width: 100%
        border-bottom: 1px solid #000
        margin-right: 10px
    .rank
      background: var(--theme-color)

.fixed-parent
    @media (max-width: theme('breakpoints.sm'))
      padding-bottom: 150px
.fixed-checkout,
.fixed-buy
  position: fixed
  bottom: 0
  left: 0
  z-index: 3
  background: #EEE9E5
  width: 100%
  display: flex
  flex-direction: column
  justify-content: flex-start
  padding: 20px 10px
  .count--area
    display: flex
    justify-content: space-around
    align-items: center
    i.bi::before
      font-weight: 1000 !important
    .form--text 
      input[type='text']
        &
          font-family: 'Noto Sans TC', sans-serif
          width: 50px
          height: 40px
          border: 1px solid #000
          background: #fff
          text-align: center
          margin: 0 10px
        &:focus
          outline: none